@{
    ViewBag.Title = "Thanks " + Model.SuggestorName + "! New restaurant successfully submitted!";
}

@model Assignment4.Models.RestaurantSuggestion

<div>
 
</div>

<div>
    Click <a asp-action="ViewSuggestions">here</a> to see the other suggestions.
</div>